page-home {

    h3{
        text-align: center;
    }

    img{
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    .botao{
      margin-top: 5px;
    }

    .main_page{
        background-color: rgb(255, 255, 255);
    }
}
